 ul {
    display: flex;
    justify-content: center;
}
li {
    list-style: none;
    
}
form{
    text-align: center;
} 

.container{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: center;
    
}

.btn{
    width: 150px;
    height: 50px;
    background-color: aqua;
    color: red;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    font-weight: 650;
    margin-top: 10px;

}
input{
    background-color: transparent;
    border-color: aliceblue;
}

.h1l {
    margin-top: 150px ;
    color: aliceblue;
}

.login {
    margin-top: 50px; ;
}

body{
    background-image: url(src/image/Abstract-texture-wallpapers-HD-background-pictures.jpg);
}